.loader {
    border: 3px solid;
    border-radius: 50%;
    border-top: 1.5em solid;
    width: 3em;
    height: 3em;

    animation: spin 1.5s cubic-bezier(.68,-0.55,.27,1.55) infinite;
}

    .loader.light {
        color: black;
    }

    .loader.dark {
        color: white;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fadein {
    animation: fadein ease;
    animation-duration: 2s;
}

.fadein.fast {
    animation-duration: 0.3s;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.placeholder {
    background-color: rgba(0, 0, 0, 0.025);
    border: 2px dashed rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 0.5rem;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    cursor: wait;
}
