<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Lazy Loading</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> &lt;Lazy /&gt;
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="lazy-component-from-nuget">
                <span class="oi oi-plus" aria-hidden="true"></span> Lazy Component from Nuget
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="startup">
                <span class="oi oi-plus" aria-hidden="true"></span> Lazy Startup
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="simple-page">
                <span class="oi oi-list-rich" aria-hidden="true"></span> (Lazy) Simple Page
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="page-with-param/hello">
                <span class="oi oi-list-rich" aria-hidden="true"></span> (Lazy) Page with Param
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@Guid.NewGuid()">
                <span class="oi oi-list-rich" aria-hidden="true"></span> (404) Error Page
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
