#blazor-error-ui {
    display: none;
}

.pureCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    color: #212529;
}
