#blazor-error-ui {
    display: none;
}

.pureCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

    .overlay.dark {
        background-color: black;
        color: white;
    }

    .overlay.light {
        background-color: white;
        color: black;
    }

.full {
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

    .full.dark {
        background-color: black;
        color: white;
    }

    .full.light {
        background-color: white;
        color: black;
    }
