#blazor-error-ui {
    display: none;
}

.pureCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

    .overlay.dark {
        background-color: black;
        color: white;
    }

    .overlay.light {
        background-color: white;
        color: black;
    }

.full {
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

    .full.dark {
        backdrop-filter: blur(4px);
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    .full.light {
        backdrop-filter: blur(4px);
        background-color: rgba(255,255,255,0.8);
        color: black;
    }
