@page "/startup"

<h1>Assembly with Startup</h1>
<p>
    This page is contained in <code>AssemblyWithStartup.dll</code>.<br />
    This Assembly contains a Startup class that shows an <code>alert()</code> when it gets loaded.
</p>

