@page "/static-resources"

<link rel="stylesheet" href="_content/StaticResources/styles.css" />

<h1>Module with StaticWebAssets</h1>

<p class="my-component">
    This component is rendered using a CSS stored in the Lazy Module <b>StaticResources</b>.<br />
    This way we can defer static resources (such as CSS and Images) and download them only when required.
</p>

