@page "/counter"

@*<div class="pureCenter full light fadein">
    <div class="loader"></div>
</div>*@

<h1>Counter</h1>
<p>Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Lazy Name="SimpleComponent" OnBeforeLoadAsync="Delay(500, 2500)">
    <Loading>
        <LazyPlaceholder />
    </Loading>
    <Error>
        <h2 style="color:red">Component loading errored...</h2>
    </Error>
</Lazy>

<Lazy Name="NamedComponent" Required="true" OnBeforeLoadAsync="Delay(500, 2500)">
    <Loading>
        <LazyPlaceholder />
    </Loading>
</Lazy>

<Lazy
      Name="Parametrized"
      Parameters='new Dictionary<string, object> { { "Name", "Ivan" }, { "Adjective", "awesome" } }'
      OnBeforeLoadAsync="Delay(500, 2500)">

    <Loading>
        <LazyPlaceholder />
    </Loading>
    <Error>
        <h2 style="color:red">Component loading errored...</h2>
    </Error>

</Lazy>

<Lazy Name="ErrorLol" Required="false" OnBeforeLoadAsync="Delay(500, 2500)">
    <Loading>
        <LazyPlaceholder />
    </Loading>
    <Error>
        <h2 style="color:darkorange">(expected) Component loading errored...</h2>
    </Error>
</Lazy>

<Lazy ModuleName="WasmHost" Name="WasmHost.Shared.SurveyPrompt" Required="true" OnBeforeLoadAsync="Delay(500, 2500)">
    <Loading>
        <LazyPlaceholder />
    </Loading>
    <Error>
        <h2 style="color:red">Component loading errored...</h2>
    </Error>
</Lazy>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private Func<Lazy, Task> Delay(int minMs, int maxMs)
    {
        return (Lazy c) =>
        {
            return Task.Delay(new Random().Next(minMs, maxMs));
        };
    }
}
