@page "/counter"

@*<div class="pureCenter full light fadein">
    <div class="loader"></div>
</div>*@

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<Lazy Name="SimpleComponent">
    <div class="placeholder">
        <div class="pureCenter">
            <div class="loader"></div>
        </div>
    </div>
</Lazy>

<Lazy Name="NamedComponent">
    <div class="placeholder">
        <div class="pureCenter">
            <div class="loader"></div>
        </div>
    </div>
</Lazy>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
