@page "/"
@using System.Reflection
@using BlazorLazyLoading.Abstractions

<h2 style="color: limegreen">Append '?mode=server' to the URL to switch to BlazorServer!</h2>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{ 
    [Inject]
    public IAssemblyLoader AssemblyLoader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var a = await AssemblyLoader
            .LoadAssemblyByNameAsync(new AssemblyName
            {
                Name = "Logger",
                Version = null,
            });

        if (a == null)
        {
            Console.Error.WriteLine("Assembly 'Logger' failed to load");
            return;
        }

        a.GetType("MyLogger.Logger").GetMethod("Log").Invoke(null, new[] { "Lazy! Oh Yeah!" });
    }
}
