@page "/lazy-component-from-nuget"

<h1>Lazy Component from NuGet</h1>
<p>
    The following component is rendered from a nuget package (Faso.Blazor.SpinKit in this case).<br />
    The nuget DLL will only be loaded when opening this page for the first time. Please check the network tab ☺
</p>

@*
    Works fine out of the box
*@
<BlazorPro.Spinkit.SpinKit.Wave />

@*
    Requires the Module to have:
    + <BLLManifestAssemblies Include="Faso.Blazor.SpinKit" />
*@
@*<Lazy Name="Faso.Blazor.SpinKit.SpinKitWave" />*@
