name: Build all

on: [push]

env:
    # Workaround for GitVersionTask bug in combination with .NET Core SDK 3.1.200
    # (see, e.g., https://github.com/dotnet/sdk/issues/10878 and https://github.com/GitTools/GitVersion/issues/2063)
    MSBUILDSINGLELOADCONTEXT: 1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.200

    - name: Build with dotnet
      run: dotnet build -c Release BlazorLazyLoading.sln
  
    - name: Test with dotnet
      run: dotnet test BlazorLazyLoading.sln

    - name: Pack with dotnet
      run: dotnet pack -c Release BlazorLazyLoading.sln

    - name: Upload artifacts
    - uses: actions/upload-artifact@v1
      with:
        name: output
        path: output

    #- name: Push package to NuGet
    #  run: dotnet nuget push output/**/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json