name: Nuget publish

on:
  release:
    types: [published, created, edited]
    # branches:
    #   - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Build All
      uses: ./.github/actions/build-all

    - name: Push package to NuGet
      run: dotnet nuget push output/**/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
